/src/components/generated/
./src/components/impComponents/*
**/backend/src/types/types.validator.ts
/node_modules
**/node_modules/*
/backend
/backend/node_modules
./backend/src/types
/jestSetup
dest
android
ios
acceptance-tests
.jest
src/setupTests.ts
./backend/node_modules/**/*
./node_modules/**/*
index.js
build
.coverage
native-assets
jest
./src/components/generated/*
Swiper.js
babel.config.js
metro.config.js
/docs
/config
/scripts/build.js
/scripts/start.js
/scripts/test.js
/src/react-app-env.d.ts
/src/components/generated_w_svgreactify
/src/components/modified_modules/BottomSheet.tsx
podfile.lock
yarn.lock
